name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'New version'
        required: true

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update OneAgent Ansible collection version
        uses:  ./.github/actions/update-version
        with:
          version: ${{ github.event.inputs.version}}
          gha_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Release OneAgent Ansible collection on GitHub
        uses:  ./.github/actions/make-release
        with:
          version: ${{ github.event.inputs.version }}
          gha_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Release OneAgent Ansible collection on Automation Hub and Ansible Galaxy
        uses: ansible/ansible-content-actions/.github/workflows/release.yaml@main
        with:
          environment: release
